.junkItLogo{
    position: relative;
    left: 40%;  
    
}

#leftPanel {
    border-style: dashed; border-width: 2px;
    position: relative;
    top: 30px;
    height: auto;
    width: 100px;
    
}

hr {
    border-width: 1px;
    border-color: black;
    border-style: solid;    
}

body{
    background-color: rgb(128, 119, 102);
}