<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Home</title>
	</head>
	<meta charset="UTF-8">
	
	<body>
		<nav></nav>
		<div align="center">
			<h1>Welcome to Junk it!</h1>
			<h3>Where your junk could become someone else's</h3>
			<form action="/register" method="get">
			<input type="submit" value="Sign up"/>
		</form>
		</div>		
		<hr>
		
		<div th:if="${#lists.size(listings) < 0" th:each="listing : ${listings}">
			<div style="border: 1px">
			</div> <!--  For each list, create a box for it -->
		</div>
		
		
	</body>

</html>