<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="/css/favicon(2).ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/profile.css">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div class="junkItLogo">
        <img src="/images/junkitlogo.png"/>
    </div>
    <hr>
    <div id="leftPanel">
        <h4><a th:href="@{/messages/{userId}(userId=${user.userId})}">Messages</a></h4>
    </div>
    
</body>
</html>