<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		
		<link href="/css/favicon(2).ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="/css/profile.css">
		<title>Junk-It</title>
		<meta charset="UTF-8">
	</head>

<body>
        <!-- PLACEHOLDER -->   
    <div class="ifblock-container" th:if="${user.userId} == ${loggedUser.userId}">
        <div class="flex-container1" >
            <div style="flex-grow: 90">
                <a href="/browse" style="text-decoration:none; margin-left: 10px;">
                    <img src="/images/chevron.png" style="width: 30px">
                    <span id="junkit-side-txt">Junk It!</span>
                </a>
            </div>
            <div sec:authorize="!isAuthenticated()" style="flex-grow: 5">
                <a href="/showLogin">Log In</a>
            </div>
            <div sec:authorize ="isAuthenticated()" style="flex-grow: 5">            
            </div>
            <div sec:authorize="!isAuthenticated()" style="flex-grow: 5">
                <form action="/register" method="get">
                    <input type="submit" value="Sign Up" class="button">
                </form>
            </div>
            <div sec:authorize="isAuthenticated()" style="flex-grow: 5">
                <form action="/logout" method="post">
                    <input type="submit" value="Sign Out" class="button">
                    <input type= "hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div> 
        </div>
        <main class="flex-container2">  
            <aside class="sidebar">
                <div id="action-items">
                    <h2 style="margin-left:15px">Action Items</h2>
                    <div class="sidebar-btn">
                        <a href="/profile/messages">
                            <input type="button" class="button" value="Messages">
                        </a>  
                    </div>            
                <div class="sidebar-btn">
                    <a th:href="@{/profile/{userId}/listings(userId=${user.userId})}">
                        <input type="button" class="button" value="Listings">
                    </a> 
                </div>
            </div>
        </aside>
        <section class="main-content">
            <div class="form-content">
                <h2>Update Profile</h2>
                <br>            
                <form action="/profile/update" method="POST">
                    <input class="inputFields" type="text" th:field="${loggedUser.firstName}" placeholder="First Name">
                    <br/>	
                    <input class="inputFields" type="text" th:field="${loggedUser.lastName}" placeholder="Last Name">
                    <br/>                
                        <input class="inputFields" type="text" th:field="${loggedUser.username}" placeholder="Username">
                    <br>   
                    <!-- <input class="inputFields" type="hidden" th:field="${user.password}" placeholder="Password"> -->
                    <input class="inputFields" type="text" th:field="${loggedUser.email}" placeholder="Email Address">
                    <br/>	
                    <br/>	
                    <input class ="button" type="submit" value="Update" id="update-btn">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>        
            </div>
        </section>
        <footer class="footer">
            <div>
                <img src="/images/junkit-banner.png" style="width: 100px;"/>
            </div>
        </footer>
        </main>    
    </div>

                <!-- IF LOGGED IN AND VIEWING A DIFFERENT USER'S PROFILE DISPLAY THE FOLLOWING -->
    <div class="ifblock-container" th:unless="${user.userId} == ${loggedUser}">
        <!-- HEADER/NAV Bar -->
        <div class="flex-container1" >
            <div style="flex-grow: 90">
                <a href="/browse" style="text-decoration:none; margin-left: 10px;">
                    <img src="/images/chevron.png" style="width: 30px">
                    <span id="junkit-side-txt">Junk It!</span>
                </a>
            </div>
            <div sec:authorize="!isAuthenticated()" style="flex-grow: 5">
                <a href="/showLogin">Log In</a>
            </div>
            <div sec:authorize ="isAuthenticated()" style="flex-grow: 5">            
            </div>
            <div sec:authorize="!isAuthenticated()" style="flex-grow: 5">
                <form action="/register" method="get">
                    <input type="submit" value="Sign Up" class="button">
                </form>
            </div>
            <div sec:authorize="isAuthenticated()" style="flex-grow: 5">
                <form action="/logout" method="post">
                    <input type="submit" value="Sign Out" class="button">
                    <input type= "hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div> 
        </div>
        <!-- END OF HEADER/NAV BAR -->
        <!-- SIDE PANEL -->
        <main class="flex-container2">  
            <aside class="sidebar">
                <div id="action-items">
                    <h2 style="margin-left:15px">Action Items</h2>
                    <div class="sidebar-btn">
                        <a>
                            <input type="button" class="button" value="Compose" id="composeBtn">
                        </a>  
                    </div>            
                <div class="sidebar-btn">
                    <a th:href="@{profile/{userId}/listings(userId=${user.userId})}">
                        <input type="button" class="button" value="Listings">
                    </a> 
                </div>
            </div>
        </aside>
        <!-- END OF SIDE PANEL -->
        <section class="main-content">
            <div class="form-content" >
                <h2 th:inline="text" style="text-align: justify; position: relative;right:20px;">
                    Viewing <u>[[${user.username}]]'s</u> Profile</h2>
                          
                <form action="/profile/update" method="POST">
                    <p><label>First Name</label>
                    <input class="inputFields" type="text" th:field="${user.firstName}" placeholder="First Name" readonly>
                    </p>
                    <p><label>Last Name</label>
                        <input class="inputFields" type="text" th:field="${user.lastName}" placeholder="Last Name" readonly>
                    </p>
                    <p><label>Username</label>
                        <input class="inputFields" type="text" th:field="${user.username}" placeholder="Username" readonly>
                    </p>
                    <p><label>Email Address</label>
                        <input class="inputFields" type="text" th:field="${user.email}" placeholder="Email Address" readonly>
                    </p>
                </form>   
                <div style="position: relative; right: 250px; display: none;" id="compose-messageBx">
                    <div class="message-box-div">
                        <textarea readonly id="message-window" ></textarea>
                    </div>
                    <div>
                        <form th:action="@{/profile/{userId}/message(userId=${user.userId})}" method="post">
                            <input type="text" id="reply-txt-box" th:field="${message.messageText}">
                            <input id="messageInputButton" type="submit" value="Send" class="button"/>
                            <input type= "hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                        
                    </div> 
                </div>      
            </div>
            <script src="../js/profile.js" type="text/javascript"></script>
            
        </section>
        <footer class="footer">
            <div>
                <img src="/images/junkit-banner.png" style="width: 100px;"/>
            </div>
        </footer>
        </main>    
    </div>
</body>
</html>