<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link href="/css/favicon(2).ico" rel="icon" type="image/x-icon"/>
		<link rel="stylesheet" href="/css/register.css" >
		<title>Sign up today!</title>
	</head>
	
	
	<body>		
		<div class="section-1" >
			<div style="flex-grow: 90">
				<a href="/browse" style="text-decoration:none; margin-left: 10px;">
					<img src="/images/chevron.png" style="width: 30px">
					<span id="junkit-side-txt">Junk It!</span>
				</a>
			</div>
			<div style="flex-grow: 5">
				<a th:href="@{/profile/{userId}(userId=${user.userId})}">Profile</a>
			</div>

			<div style="flex-grow: 5">
				<form action="/register" method="get">
					<input type="submit" value="Sign Up" class="button">
				</form>
			</div>
		</div>

		<div class="section-2" style="justify-content: center;">
			<div style="flex: 0 1 auto;">
				<img src="/images/sign-up.png" id="signup-img"/>
			</div>

			<div style="flex:0 1 auto">
				<form th:action="@{/register}" method="POST">
					<input class="inputFields" type="text" th:field="${user.firstName}" placeholder="First Name">
					<br/>	
					<input class="inputFields" type="text" th:field="${user.lastName}" placeholder="Last Name">
					<br/>
	
					<input class="inputFields" type="password" th:field="${user.password}" placeholder="Password">
					<br/>
	
					<input class="inputFields" type="text" th:field="${user.email}" placeholder="Email Address">
					<br/>	
					<br/>	
					<input class ="button" type="submit" value="Create Account">	
				</form>	
			</div>
		</div>

		<div class="footer">
			<div>
				<img src="/images/junkit-banner.png" style="width: 100px;"/>
			</div>
		</div>
	
		
		
	</body>

</html>